html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}

.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  display: table;
}

.fixed h2 {
  display: table-cell;
  vertical-align: middle;
}

.scroll {
  background-color: #ffe0f6;
  padding: 10px 70px;
  color: #666666;
}

.one {
  background-image: "pic1.png";
}

.two {
  background-image: pic2.png;
}

.three {
  background-image: pic3.png;
}