/*-- scss:defaults --*/

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

// Fonts

$font-family-sans-serif: 'Nanum Myeongjo', serif;

/*-- scss:rules --*/

p {
  margin-bottom: 85vh; /* between paragraphs */
  }
  
h3 {
  margin-top: 15vh; /* for new sections */
}